<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>URL 링크</h1>
<ul>
<!--  /hello-->
  <li><a th:href="@{/hello}">basic url</a></li>
<!--  /hello?param1=data1&param2=data2-->
  <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>
<!--  /hello/data1/data2-->
  <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a></li>
<!--  /hello/data1?param2=data2-->
  <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter</a></li>
</ul>
</body>
</html>